<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <p>Funfinder</p>
      <a href="/">Alle Beiträge</a>
      <a href="/new_post">Neuer Beitrag</a>
      <a href="/log-in">Einloggen</a>
      <a href="/register">Registrieren</a>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>