<div class="landingpage">
  <h1 class="title">Funfinder</h1>
  <h2 class="claim">Dein Weg zu unvergesslichen Erlebnissen!</h2>
</div>

<form id="searchForm">
  <input type="text" id="search" name="search" placeholder="Suchen" required />

</form>