<div class="login">
  <div class="form">

    <form class="loginform">
      <h2>Funfinder</h2>
      E-Mail:
      <input type="email" /><br />
      Passwort
      <input type="password" /><br />
      <input class="button" type="submit" value="Anmelden" />
    </form>
  </div>
</div>