<form class="new_post">

  <input
    type="image"
    id="post_image"
    name="post_image"
    placeholder="Beitragsbild"
  />

  <input
    type="text"
    id="post_title"
    name="post_title"
    placeholder="Beitragstitel"
  />

  <div>
    <div class="steckbrief">
      Kategorie
      <input
        type="text"
        id="post_category"
        name="post_category"
        placeholder="kategorie"
      />

      Preis
      <input
        type="text"
        id="post_price"
        name="post_price"
        placeholder="preis"
      />

      Ort
      <input type="text" id="post_place" name="post_place" placeholder="ort" />

      Personenanzahl
      <input
        type="text"
        id="post_people"
        name="post_people"
        placeholder="personen"
      />

      <input
        type="text"
        id="post_text"
        name="post_text"
        placeholder="Beitragstext"
      />

    </div>
    <input class="button" type="submit" value="Veröffentlichen" />
  </div>

</form>