<form class="new_post" action="/create_post" method="post">

  <div id="newpostform">
    <div class="form">
      <input type="text" id="title" name="title" placeholder="Beitragstitel" />
      <input type="file" id="image" name="image" placeholder="Beitragsbild" />

      <div class="steckbrief">
        Kategorie
        <select id="activitycategory" name="activitycategory">

          <option value="Outdoor">Outdoor</option>
          <option value="Indoor">Indoor</option>
          <option value="Kultur">Kultur</option>
          <option value="Sport">Sport</option>
          <option value="Wellness">Wellness</option>
          <option value="Essen">Essen</option>
          <option value="Abenteuer">Abenteuer</option>
          <option value="Veranstaltungen">Veranstaltungen</option>

        </select>

        Preis
        <input type="text" id="price" name="price" placeholder="preis" />

        Ort
        <input type="text" id="place" name="place" placeholder="ort" />

        Personenanzahl
        <input
          type="text"
          id="numberofpeople"
          name="numberofpeople"
          placeholder="personen"
        />

      </div>

      <input
        type="text"
        id="description"
        name="description"
        placeholder="Beitragstext"
      />

    </div>
    <input class="button" type="submit" value="Veröffentlichen" />
  </div>

</form>