<div class="register">
  <div class="form">
    <form class="registerform">
      <h2>Funfinder</h2>
      E-Mail:
      <input type="email" /><br />
      Benutzername:
      <input type="text" /><br />
      Passwort
      <input type="password" /><br />
      <input class="button" type="submit" value="Registrieren" />
    </form>
  </div>
</div>