* {
  font-family: "cabin";
}

header,
footer {
  background-color: #68d1c4;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menupunkt {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

.button {
  background-color: black;
  color: white;
  padding: 5px 0;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerform,
.loginform {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px 50px 40px 50px;
  margin: 40px 0;
}

.login {
  background-image: url(login_img.jpg);
  background-size: cover;
}

.register {
  background-image: url(register_img.jpg);
  background-size: cover;
}

.landingpage {
  background-image: url(homepage.jpg);
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: caveat;
  font-style: bold;
  font-size: 72px;
}
.claim {
  font-family: cabin;
  font-style: italic;
  font-size: 30px;
}
