* {
  font-family: "cabin";
}
body {
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #68d1c4;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  padding: 40px;
}

.menupunkt {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.registerform,
.loginform {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px 50px 40px 50px;
  margin: 40px 0;
}

.login {
  background-image: url(login_img.jpg);
  background-size: cover;
}

.register {
  background-image: url(register_img.jpg);
  background-size: cover;
}

.landingpage {
  background-image: url(homepage.jpg);
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infos {
  display: flex;
}

.title {
  font-family: caveat;
  font-style: bold;
  font-size: 72px;
}

.logintitle {
  font-size: 40px;
  color: #cbf4f4;
  text-align: center;
}

h3 {
  margin-right: 15px;
}

.claim {
  font-family: cabin;
  font-style: italic;
  font-size: 30px;
}

img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

#title {
  background-color: none;
  border: none;
  font-size: large;
  font-weight: 600;
}

/* Allgemeine Formatrichtlinien für das Formular */
.login-form {
  width: 60%;
  max-width: 380px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(10px); /* Weichzeichner-Effekt für den Hintergrund */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Leichter, weicher Schatten */
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.login-form label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 14px;
  border: 2px solid #dddddd40;
  border-radius: 12px;
  background-color: #f9f9f9;
  font-size: 16px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  background-color: #ffffff;
  outline: none;
}

.submit-btn {
  padding: 12px;
  background-color: #296f70;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(23, 82, 91, 0.3);
}

.submit-btn:hover {
  background-color: #268b94;
  box-shadow: 0 8px 12px rgba(42, 113, 114, 0.4);
}

.register-btn {
  font-size: 16px;
  color: #007bff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  align-self: center;
  margin-top: 10px;
}

.register-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}
#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

#search {
  padding: 15px;
  font-size: 1rem;
  border-radius: 20px;
  border: 2px solid #ccc;
  width: 70%;
  max-width: 500px;
  margin-top: 10px;
  margin-right: 15px;
}

#search:focus {
  border-color: #6ba8a3;
  outline: none;
}

#showAllLink {
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

#showAllLink:hover {
  text-decoration: underline;
}

/* Activity Posts Container */
.activity-posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Drei Spalten */
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.activitypost img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 1rem;
}

/* Responsive Design: Mobile and Tablets */
@media (max-width: 768px) {
  .activity-posts-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Zwei Spalten auf kleineren Geräten */
  }

  .activitypost {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .activity-posts-container {
    grid-template-columns: 1fr; /* Eine Spalte auf sehr kleinen Geräten */
  }

  .activitypost {
    margin: 10px;
  }
}

.post-details {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-left: 10%;
  background-color: white;
  box-sizing: border-box;
  flex: 1;
}

.post-image {
  width: 100%;
  max-height: 40%;
  object-fit: cover;
}

.back-arrow {
  display: inline-block;
  margin-top: 20px;
  font-size: 4.2rem;
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
}

.post-title {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Steckbrief Infos */
.post-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.post-info h3 {
  font-size: 1.1rem;
  color: #555;
  margin: 2px 0;
}

.divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2px 0;
}

/* Beschreibung */
.post-description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

/* Kommentare Bereich */
.comments-section {
  margin-top: 40px;
}

.comments-section h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 20px;
}

.comment {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.username {
  font-size: 1rem;
  color: #888;
  font-style: italic;
}

.comment-text {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

/* Kommentar hinzufügen */
.add-comment {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.add-comment {
  display: flex;
  align-items: center;
}

.add-comment input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  width: 400px;
  resize: vertical;
}

.add-comment button {
  padding: 5px 10px;
}

.new_post {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

#newpostform {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

/* Title input field */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.steckbrief {
  margin-bottom: 16px;
  width: 50%;
}

/* Dropdown styling */
select {
  background-color: #f9f9f9;
}

/* Submit button */
.button {
  background-color: #52ceb9;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.button:hover {
  background-color: #0b887d;
}

#description {
  min-height: 200px;
  width: 100%;
  resize: vertical;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  overflow-y: auto;
  vertical-align: top;
  padding: 10px;
}

#description:focus {
  border-color: #69c9b7; /* Highlight border color on focus */
}

/* new post upload image*/
.file-input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: grey;
  color: black;
  border: 2px dashed lightgray;
  border-radius: 12px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #e0e0e0; /* Dunkleres Grau beim Hover */
  color: #333;
}

.file-icon {
  font-size: 48px;
  margin-bottom: 8px;
}

.file-input-label p {
  font-size: 18px;
  margin: 0;
}

#image {
  display: none;
}

.likeheart {
  height: 40px;
  width: auto;
}

.likes {
  display: flex;
  flex-direction: row;
}

.release {
  margin-right: 30px;
}

.impresum_content {
  margin: 45px;
}

hr {
  margin: 40px 0;
}
